body {
	padding: 0px;
	margin: 0px;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 70%;
	margin: 30px auto;
}
